@import 'variables';

html, body {
  font-family: 'Open Sans';
}

a {
  text-decoration: none;
  color: inherit;
}

h1, h2, h3, h4, h5, h6, label, li, span, p {
  color: $dark-grey;
}

label, li, span, p {
  font-size: 16px;
}

.font-small {
  font-size: 12px;
}

.font-micro {
  font-size: 9px;
}

.weight-300 {
  font-weight: 300;
}

.weight-600 {
  font-weight: 600;
}